.SearchBar{
    
    padding: 10px;
    line-height: 30px;
    margin: 30px auto;
    width:30%;
  }

  .MainPage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%
  }

  .resultBox {
    /* grid-template-rows: 10fr 1fr;
    flex-direction: row; */
    background-color: rgb(253, 251, 255);
    display: flex;
    align-items:center;
    justify-content: center;
    border: 3px solid rgb(17, 10, 10);
    padding: 60px;
    height: 100%;
    font-size: 15px;
    font-family: inherit;
    margin: 30px auto;
    width:50%

  }
  
  .resultBox p {
    font-size: 25px;
  }