.SearchBar{
  margin-top: 50px;
  width: 600px;
}
.form{
  display: flex;
}
  .input {
    flex: 1;
    /*width: 80%; /* Adjust this value to make the search bar longer or shorter */
    padding: 10px; /* Add padding for better aesthetics */
   /* margin: 0 auto; /* Center the input field horizontally if your form is set to display:block */
   /* display: block; /* Ensure it's treated as a block-level element, respecting width and margin */
    border: 1px solid #ccc; /* Optional: adds a border around the input field */
    border-radius: 4px; /* Optional: rounds the corners of the input field */
  }
  .searchButton {
    margin-left: 50px; /* Add some space between input and button */
    padding: 10px 20px; /* Adjust padding for button */
    background-color: #007bff; /* Change button background color */
    border-radius: 4px; /* Optional: rounds the corners of the button */
  }

  .MainPage{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%
  }

  .resultBox {
    background-color: rgb(253, 251, 255);
    display: flex;
    align-items:center;
    justify-content: center;
    border: 3px solid rgb(17, 10, 10);
    padding: 60px;
    height: 100%;
    font-size: 15px;
    font-family: inherit;
    margin: 10px auto;
    width:50%;
    font-size: 25px;
  }
.chatGptSubtext{
  font-size: 0.8rem;
  color: #666;
    margin-top: 20px; 
}
.resultContainer {
  display: flex;
  flex-direction: column;
}

.resultContainer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Adjust spacing between button and text */
}

.resultContainer > div > button {
  margin-bottom: 10px; /* Adjust spacing between buttons and text */
}
.SparqlQuery {
  max-width: 80%; /* Set maximum width for SPARQL Query */
  margin: 0 auto; /* Center the text horizontally */
}

.gptImage{
  width: 100%; /* Make the image responsive by setting width to 100% */
    height: auto; /* Maintain the aspect ratio */
    max-width: 50px; /* Set a max-width to prevent the image from becoming too large */
    display: block; /* Ensures the image is block level to respect width and height */
    margin: 10px auto; /* Adds vertical margin and centers the image horizontally */
}

.baseText {
  font-family: 'Cochin';
  font-size: medium;
}

.titleText {
  font-size: large;
  font-weight:bold;
}

  